
/* background color for nav bar */
.bg-light {
  background-color: #d6bbf5 !important;
}

/* image for site background */
body {
  background-image: url(../Images/background.png);
  background-color: #cccccc;
}

/* padding to put space between content card and nav bar */
.row {
  padding-top: 40px;
}

/* size for about me image */
.img {
  height: 200px;
  width: 200px;
}

/* changes styling of button to match site theme */
.btn-primary {
  color: #fff;
  background-color: #d6bbf5;
  border-color: #d6bbf5;
}

/* update heading color and font */
h1 {
  color: #d6bbf5;
  font-family: 'Source Code Pro', monospace;
}

/* styling for navbar */
.navbar-brand {
  font-family: 'Source Code Pro', monospace;
  font-size: 34px;
}
h5 {
  font-family: 'Source Code Pro', monospace;
}

 
/* sticky  footer styling  */

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: solid 5px #d6bbf5;
 
  height: 50px;
  background-color: rgb(90, 88, 88);
}

.card-portfolio {
  text-align: center;
}