.bg-light {
  background-color: #30bbbb !important;
}

body {
  background-image: url(../images/background.png);
  background-color: #cccccc;
}
.row {
  padding-top: 40px;
}

.img {
  height: 200px;
  width: 200px;
}
.btn-primary {
  color: #fff;
  background-color: #30bbbb;
  border-color: #30bbbb;
}

h1 {
  color: #30bbbb;
  font-family: "Playfair Display", serif;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 34px;
}
 